			<div class="clear"></div>
	
			<div id="header-bottom">
			<div class="left"></div>
				<div class="header-section floatleft">
					<div class="mid"><p>LetsBuyIt123 allows you to co-own items <br/>that you may wish to share with others.</p>
					<ul>
						<!-- <li><a href="/pages/about">Learn More</a></li> -->
						<!--<li><a href="/users/register">Sign Up</a></li>-->
						
						<!-- <li><?= (empty( $logged_in_user['User']['id']) ? $html->link('Sign Up', '/users/register') : $html->link('Donate', '/projects/donate/eurekafund')) ?></li> -->
						<li><?php echo $html->link('', '/pages/project-intro', array('class'=>'scientist-link')); ?></li>
						<li><?php echo $html->link('', '/projects/donate/eurekafund', array('class'=>'donate-link')); ?></li>
						
					</ul>
					</div>
					<div class="space"></div>
						
				</div>		
			<div class="right"></div>
			</div> <!-- header-bottom -->