.fg-dial {
    font-size: 200%;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
}
.fg-dial-label {
    font-size: 200%;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    top: 160px;
    width: 100%;
}

.raised {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.to-go {
    font-size: 16px;
    text-align: center;
}

.tempGauge {
    text-align: center;
    padding: 10px;
}

.media-left {
    padding: 10px;
    text-align: center;
}

.donate {
    text-align: left;
}