<div class="body-section">
<h1>Privacy Policy</h1>
<!-- 
<p>Your privacy is very important to us. </p>
<p>Eureka Fund will never rent or sell your personally identifiable information to third parties. </p>
<p>Notice of all changes that materially affect ways in which your personally identifiable data may be used or shared will be posted in updates to our Privacy Policy. If you continue to use the Website after notice of changes has been posted on our site, you hereby provide your consent to the changed practices. </p>
<p>By default, you may receive periodic newsletter emails from Eureka Fund. You can choose not to receive these newsletters through a preference on the Website. </p>
<p>Eureka Fund may from time to time collect user submitted information such as name, email address, age and such other private and/or personal information. Eureka Fund may from time to time use this information to authenticate users and to send notifications to those users utilizing Eureka Fund services. Eureka Fund may also from time to time log non-personally-identifiable information including IP address, profile information, aggregate user data, and browser type. Among other things, Eureka Fund may use this data to manage our site, track usage, and improve our site performance and services. </p>
<p>This information also may be shared with third parties to provide more relevant services and advertisements to users. Eureka Fund disclaims any and all liability associated with the transfer of such information as well as the disclosure by such partners with respect to such information. Each user shall review, as applicable, the respective privacy policy of such recipient, which shall govern the privacy associated with such information by such recipient. </p>
<p>Eureka Fund will not disclose your personally identifiable lending activity to any third party without consent. Eureka Fund reserves the right to record and display anonymous donating activity on the Website and to display the general statistics about our donors. </p>
<p>We take privacy seriously and we value yours.</p>
 -->
</div>
