<div class="body-section">
<h1>LetsBuyIt123 Terms of Service Agreement</h1>
<!-- 
<p>Eureka Fund is a California non-profit public benefit corporation (together with its officers, directors, agents, employees, partners and their respective affiliates, collectively, "Eureka Fund"). This Terms of Service Agreement (this "Agreement") is a contract between you ("you") and Eureka Fund and governs all transactions between you and Eureka Fund, as well as your use of the EurekaFund.org website (the "Website") and all Eureka Fund services. By using the Website, you agree to be bound by this Agreement, whether or not you become a donor, participate in Eureka Fund's donor program (the "Program") or otherwise use the Website (in each such capacity, a "User"). If you wish to become a donor, participate in the Program or otherwise become a User of the Website, you must read all of the terms and conditions in, and linked to, this Agreement (including the Privacy Policy)</p> 

<p>This Agreement supersedes any previous Agreement to which you and Eureka Fund may have been bound. This Agreement may be modified by Eureka Fund in its sole discretion from time to time and such modifications will become part of this Agreement and will be effective once posted by Eureka Fund on the Website. Your participation in the Program and use of the Website will be subject to any such modifications. You should review the Website and this Agreement from time to time for any modifications.</p> 

<p>This Agreement will be binding on, inure to the benefit of and be enforceable against the parties and their respective successors and assigns. Neither the course of conduct between parties nor trade practice shall act to modify any provision of the Agreement. All rights not expressly granted herein are hereby reserved. Headings are for reference purposes only and in no way define, limit, construe or describe the scope or extent of such section.</p> 
 

<p>1. Participation in the Program</p> 

<p>Eureka Fund manages the Website, which matches you and other persons (each, a "Donor" and, collectively, "Donors") with research projects (each, a "Project" and, collectively, "Projects") in need of research capital. </p> 

<p>By participating in the Program or otherwise using this Website, you hereby acknowledge and agree that (a) Eureka Fund makes no representation, warranty, covenant or guarantee that any funds you donate to a Project via the Website will result in a scientific discovery and (b) donations made via the Website (each, a "Donation") may not necessarily be distributed to the Project for which the donation was intended. </p> 

<p>1.1. Donation Disbursement. You understand that Eureka Fund identifies research organizations (each, a "Research Partner" and, collectively, "Research Partners") that are part of the research community. Any Donation made by you or any other Donor will be disbursed to Research Partners for ultimate disbursement to each Project you have selected for receipt of a Donation. For example, if a Project is being conducted by researchers (each, a "Scientist" and, collectively, "Scientists") at Stanford University, Eureka Fund will disburse funds directly to Stanford University, which will then disburse funds to the intended recipient Scientists. Eureka Fund aggregates funds from multiple Donors via the Website and passes 100% of these funds (excluding the interest earned, if any, on such funds while they are held in Eureka Fund's account, which is contributed to fund Eureka Fund's operations) to the Research Partner(s) for disbursement to the Projects selected for funding on the Website. Eureka Fund is merely a middleman in this process. In certain instances, where for example fundraising targets published on the Website are not fulfilled, Eureka Fund may choose at its discretion to withhold disbursement of funds to the Research Partners. In such cases, Donors will be given the option to have their Donation (a) allocated to a different research project of their choosing, (b) used to fund other Projects of similar scientific scope, or (c) used to fund Eureka Fund's operations.</p> 

<p>1.2 Tax Deductibility. You understand that Eureka Fund is a non-profit public benefit corporation. Eureka Fund has received exemption with the Internal Revenue Service as an organization that qualifies as a public charity under Section 501(c)3 of the Internal Revenue Code of 1986, as amended from time to time. You are therefore eligible to receive a tax deduction in connection with your charitable contribution to Eureka Fund. You also understand that you are solely responsible for determining the proper tax treatment for any Donation you make through the Website and the Program. Eureka Fund has not and will not provide any tax or legal advice to you in connection with any Donation you might make. This Agreement does not attempt to define the tax implications of participating in the Program. If you participate in the Program, you should consult with your own accountants, tax and legal advisors.</p> 

<p>1.3. Donation Records. Records of each Donation you make (including this Agreement and any repayment history) will be kept by Eureka Fund and, upon your request, will be made available to you at any time.</p> 
 

<p>2. Proprietary Rights; Confidentiality</p> 

<p>"Eureka Fund" and the "Eureka Fund" logo are trademarks and service marks of Eureka Fund. Eureka Fund owns and retains all proprietary rights in the Program, the Website and all material and information posted thereon ("Content"). The Website contains the copyrighted material, trademarks and other proprietary information of Eureka Fund and its licensors. Except for that information that is in the public domain or for which you have been given express written permission, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information.</p> 

<p>If you post any messages or other information on the Website, you agree that such messages and information shall be considered Content, and you shall be deemed to have automatically granted, represented and warranted that you have the right, power and authority to grant to Eureka Fund an irrevocable, perpetual, non-exclusive, fully-paid, worldwide license to: (a) use, copy, perform, display and distribute such information and content; (b) prepare derivative works of, and/or incorporate into other works, such information and content; and (c) grant and authorize sublicenses of the foregoing.</p> 

<p>You acknowledge, consent and agree that Eureka Fund may, at its sole discretion and to the extent permitted by law, access, read, preserve and disclose your account information, usage history and submitted Content in order to: (a) comply with any applicable law, regulation, legal process, or governmental request; (b) respond to claims that any Content violates the rights of third parties, including intellectual property rights; (c) enforce this Agreement and investigate potential violations thereof; (d) detect, prevent, or otherwise address fraud, security, or technical issues; (e) respond to your requests for customer service; or (f) protect the rights, property, or personal safety of Eureka Fund, its users, or the public.</p> 

<p>3. Acceptable Use</p> 

<p>The Website is for use in connection with the Program and may not be used by you in connection with any other commercial endeavors except as previously approved in writing by Eureka Fund. Use of the Website and participation in the Program shall be in strict compliance with this Agreement, Eureka Fund's Privacy Policy, all other procedures and guidelines set forth on the Website and applicable law. You may not engage in advertising to, or solicitation of, any User, Field Partner, Borrower or any other Person to buy or sell any products or services through the Website. You may not transmit any chain letters or junk email to any User, Field Partner, Borrower or any other Person. Illegal and/or unauthorized uses of the Website, including collecting the name, email address or any other personal or confidential information of any User, Field Partner, Borrower or any other Person by electronic or other means for any reason, including, without limitation, the purpose of sending unsolicited email and unauthorized framing of or linking to the Website, will be investigated and appropriate legal action will be taken, including, without limitation, civil, criminal and injunctive redress.</p> 

<p>Although Eureka Fund assumes no obligation to monitor the conduct of any User off the Website, it is a violation of this Agreement to use any information obtained from the Website in order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit, or sell to any User, Field Partner, Borrower or other Person without their prior explicit consent. In order to protect such persons from such advertising or solicitation, Eureka Fund reserves the right to restrict the number of emails that a User may send to others through the Website in any 24-hour or other period to a number that Eureka Fund deems appropriate, in Eureka Fund's sole and absolute discretion.</p> 

<p>4. Disclaimers</p> 

<p>Eureka Fund is not responsible, and shall have no liability, for any incorrect or inaccurate Content posted on the Website or any liability, cost or expense you may incur in connection with the Program, whether caused by any User, Field Partner, Borrower or other Person or by any of the equipment or programming associated with or utilized in the Program. Eureka Fund is not responsible for the conduct, whether online or offline, of any User of the Website or any other Person. With respect to the Website, Eureka Fund assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, any communications. Under no circumstances will Eureka Fund be responsible for any loss or damage, including personal injury or death, resulting from any use of the Website or participation in the Program, any Content posted on the Website or transmitted to, or any interactions between, any Users of the Website, whether online or offline. Eureka Fund neither represents, warrants, covenants guarantees, nor promises any specific results from use of the Website or the Program.</p> 

<p>THE WEBSITE, INCLUDING ANY CONTENT OR INFORMATION CONTAINED WITHIN IT OR ANY SERVICE OR ADVICE PROVIDED IN CONNECTION WITH THE PROGRAM, IS PROVIDED "AS IS" WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THIS SITE AND SITE-RELATED SERVICES.</p> 

<p>Eureka Fund makes no representation or warranty, express or implied, with respect to any third party data provided to Eureka Fund or its transmission, timeliness, accuracy or completeness, including but not limited to implied warranties or warranties of merchantability or fitness for a particular purpose. Eureka Fund will not be liable in any way to you or to any other person for any inaccuracy, error or delay in or omission of any third party data or the transmission or delivery of any such third party data and any loss or damage arising from (a) any such inaccuracy, error, delay or omission, (b) non-performance or (c) interruption in any such third party data due either to any negligent act or omission by Eureka Fund or "force majeure" or any other cause beyond the control of Eureka Fund.</p> 

<p>5. Limitation of Liability</p> 

<p>You understand that any and all decisions made by you with respect to the Program are yours alone. Eureka Fund cannot and does not verify the accuracy of information from Field Partners, other Users or Borrowers. Eureka Fund shall not be responsible, or have any duty or obligation to, or liability for: (a) decisions or interactions resulting (directly or indirectly) from participation in the Program; or (b) any damages, costs, losses or expenses a User incurs as a result (directly or indirectly) of making a Loan to a Borrower or as a result (directly or indirectly) of utilizing the Program or information received in connection with the Program. In addition, in no event will Eureka Fund be liable to you or any third person for any damages, costs, losses or expenses, including any lost capital, lost profits or special, incidental, consequential or punitive damages arising from your use of the Website or participation in the Program, even if Eureka Fund has been advised of the possibility of such damages, costs, losses or expenses.</p> 

<p>6. Disputes with other Research Partners, Scientists</p> 

<p>You are solely responsible for your interactions with any Research Partners, any other User (even to the extent prohibited hereby) or any Scientist and any disputes that may result from such interactions. Eureka Fund reserves the right, but has no obligation, to monitor disputes between you and such persons.</p> 

<p>7. Disputes with Eureka Fund and Jury Trial Waiver</p> 

<p>If there is any dispute about or involving Eureka Fund, the Website or the Program, by using the Website, you agree that the dispute will be governed by the laws of the State of California without regard to its conflict of law provisions. You agree to personal jurisdiction by and venue in the state and federal courts located in San Francisco, California.</p> 

<p>TO THE EXTENT PERMITTED BY APPLICABLE LAW, YOU HEREBY WAIVE YOUR RIGHT TO A JURY TRIAL OF ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR BASED UPON THIS AGREEMENT OR ANY CONTEMPLATED USE HEREIN, INCLUDING CONTRACT, TORT, BREACH OF DUTY AND ALL OTHER CLAIMS. THIS WAIVER IS A MATERIAL INDUCEMENT FOR THE PARTIES TO ENTER INTO THIS AGREEMENT.</p> 

<p>WITHOUT INTENDING IN ANY WAY TO LIMIT YOUR AGREEMENT TO WAIVE YOUR RIGHT TO A TRIAL BY JURY, if the above waiver of the right to a trial by jury is not enforceable, you agree that any and all disputes or controversies of any nature between you, Eureka Fund, any Borrower or any Field Partner arising at any time shall be decided by a reference to a private judge, mutually selected by you, and as applicable, Eureka Fund, such Borrower or such Field Partner (or, if they cannot agree, by the Presiding Judge in the Northern District of the State of California) appointed in accordance with California Code of Civil Procedure Section 638 (or pursuant to comparable provisions of federal law if the dispute falls within the exclusive jurisdiction of the federal courts), sitting without a jury, in the Northern District of the State of California; and you hereby submit to the jurisdiction of such court. The reference proceedings shall be conducted pursuant to and in accordance with the provisions of California Code of Civil Procedure §§ 638 through 645.1, inclusive. The private judge shall have the power, among others, to grant provisional relief, including without limitation, entering temporary restraining orders, issuing preliminary and permanent injunctions and appointing receivers. All such proceedings shall be closed to the public and confidential and all records relating thereto shall be permanently sealed. If during the course of any dispute, a party desires to seek provisional relief, but a judge has not been appointed at that point pursuant to the judicial reference procedures, then such party may apply to the in the Northern District of the State of California for such relief. The proceeding before the private judge shall be conducted in the same manner as it would be before a court under the rules of evidence applicable to judicial proceedings. The applicable parties shall be entitled to discovery which shall be conducted in the same manner as it would be before a court under the rules of discovery applicable to judicial proceedings. The private judge shall oversee discovery and may enforce all discovery rules and order applicable to judicial proceedings in the same manner as a trial court judge. You agree that the selected or appointed private judge shall have the power to decide all issues in the action or proceeding, whether of fact or law, and shall report a statement of decision thereon pursuant to the California Code of Civil Procedure § 644(a). The private judge shall also determine all issues relating to the applicability, interpretation and enforceability of this paragraph; and</p> 

<p>You waive, to the maximum extent not prohibited by law, any right you may have to claim or recover in any legal action or proceeding referred to in this section any special, exemplary, punitive or consequential damages.</p> 

<p>8. Indemnity</p> 

<p>You agree to indemnify and hold Eureka Fund harmless from any loss, liability, claim, or demand, including reasonable attorney's fees, made or incurred by any third party due to or arising (directly or indirectly) out of your use of the Website or participation in the Program or arising from a breach of this Agreement.</p> 

<p>9. Term; Termination</p> 

<p>This Agreement will remain in full force and effect while you use the Website or participate in the Program as a User and, notwithstanding anything herein to the contrary, this Agreement will remain in effect after your participation in the Program and status as a User is terminated. Whether or not you are and remain eligible to participate in the Program may be determined by Eureka Fund in its sole and absolute discretion. You may terminate your participation and status as a User at any time and for any reason by sending a written notice of termination to Eureka Fund, such notice to be effective within 3 days of receipt by Eureka Fund. Eureka Fund may also terminate your participation in the Program and status as a User at any time and for any reason, effective upon transmission of notice to you at the email address you provide to Eureka Fund. If your participation in the Program is terminated by Eureka Fund, you agree not to use the Website any further.</p> 

<p>10. Entire Agreement; Severability</p> 

<p>This Agreement, accepted upon use of the Website and further affirmed by becoming a User, contains the entire agreement between you and Eureka Fund regarding the use of the Website or the Program. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.</p> 

<p>Please contact us at contact@EurekaFund.org with any questions regarding this Agreement.</p>
 -->
</div>
