	<?php echo $this->element('page-init', array('title_for_layout'=>$title_for_layout,'HTTP_BASE'=>HTTP_BASE)); ?>
C:\wamp\www\letsbuyit123\app\views\layouts\home.ctp
<div id="wrap">
		<?php echo $this->element('header-main'); ?>	
		<?php //echo $this->element('header-icons'); ?>
		<?php echo $this->element('header-home'); ?>
		<?php echo $this->element('header-end'); ?>
<div id="home-wrap">
			<?php $session->flash(); ?>

			<?php echo $content_for_layout; ?>
</div>	


	<?php echo $this->element('footer'); ?>
        <?php echo $cakeDebug; ?>

